body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    padding: 0.7em;
    background-color: black;
}

header span {
    flex: 1;
    color: white;
}

header button {
    cursor: pointer;
    background-color: white;
    padding: 0.5em 0.7em;
    border: 0;
    margin-left: 0.3em;
}

header span[contenteditable]:focus {
    outline: 0;
}

main section {
    padding: 0.7em;
    border-bottom: 1px solid #e8e8e8;
}

main section:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.81);
    color: white;
}

main article {
    padding: 0.7em;
}

main article[contenteditable]:focus { 
    outline: 0;
}